# Autoria: Felipe Sousa - RA: 22018160
# Template de variáveis de ambiente para o frontend
# Copie este arquivo para .env e ajuste os valores conforme necessário

# Habilita o navegador de debug flutuante (true/false)
DEBUG_MODE=

# Host fixo para o flutter web-server no comando make run-env
WEB_HOSTNAME=127.0.0.1

# Porta fixa para execucao web (web-server e edge)
WEB_PORT=8080

# IP usado para comunicação no Android Emulator (host da máquina no emulador)
ANDROID_EMULATOR_IP=10.0.2.2

# IP usado para comunicação no iOS Simulator
IOS_SIMULATOR_IP=127.0.0.1

# IP usado para dispositivo físico (Android/iOS) na rede local
DEVICE_IP=192.168.0.10

# IP usado em execução desktop no macOS
MACOS_IP=127.0.0.1
