# Autoria: Felipe Sousa - RA: 22018160
# Template de variáveis de ambiente para o frontend
# Copie este arquivo para .env e ajuste os valores conforme necessário

# Habilita o navegador de debug flutuante (true/false)
DEBUG_MODE=
