# Nome: Felipe Sousa de Almeida | RA: 22018160
.github/copilot-instructions.md
instructions/
firebase/.firebase/
firebase/functions/node_modules/
firebase/functions/lib/
firebase-debug.log
firebase-debug.*.log
