# Porta do servidor
PORT=3000

# Firebase Admin SDK - Service Account
FIREBASE_PROJECT_ID=seu-project-id-aqui
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@seu-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nSUA_CHAVE_PRIVADA_AQUI\n-----END RSA PRIVATE KEY-----\n"